venv/
__pycache__/

# do not upload folder containing data
dgl-icl/

data/
my_env/

data_for_submission/
Dif-GSR/data/
Dif-GSR/results/
submission_files/
Models_KM/
trace.json
final_submission/dgl-icl/
final_submission/old/
final_submission/predictions_fold_1.csv
final_submission/predictions_fold_2.csv
final_submission/predictions_fold_3.csv
